root = false

# EF Core auto-generates this folder; suppress style analyzers here only.
[*.cs]
dotnet_diagnostic.CA1707.severity = none
dotnet_diagnostic.CA1825.severity = none
dotnet_diagnostic.CA1861.severity = none
dotnet_diagnostic.IDE0161.severity = none
dotnet_diagnostic.MA0005.severity = none
dotnet_diagnostic.MA0048.severity = none
dotnet_diagnostic.MA0051.severity = none
generated_code = true
